:root {

    --background: #0F172A;
    --sidebar: #020617;

    --card: #111827;

    --border: #1F2937;

    --text: #FFFFFF;

    --secondary-text: #94A3B8;

    --blue: #2563EB;

    --green: #16A34A;

    --red: #DC2626;

    --purple: #7C3AED;

}